<p>
  footer works!!
</p>

<div class="laptop-footer">
  <div class="laptop-contact-form">
    <span class="laptop-text"><span>Contact Me</span></span>
    <div class="laptop-frame1">
      <span class="laptop-text002">
        <span>Feel free to contact me</span>
      </span>
    </div>
  </div>
  <div class="laptop-msgtextbox">
    <span class="laptop-text004"><span>Message</span></span>
    <img
      src="/assets/rectangle192838-nr9t-300w.png"
      alt="Rectangle192838"
      class="laptop-rectangle19"
    />
  </div>
  <div class="laptop-emailinfo">
    <span class="laptop-text006"><span>Email</span></span>
    <span class="laptop-text008"><span>laluna.sun@gmail.com</span></span>
  </div>
  <div class="laptop-phoneinfo">
    <span class="laptop-text010"><span>Phone</span></span>
    <span class="laptop-text012"><span>416-123-4500</span></span>
  </div>
  <div class="laptop-emailinput">
    <div class="laptop-email">
      <span class="laptop-text014"><span>Email</span></span>
    </div>
  </div>
  <div class="laptop-subjectinput">
    <div class="laptop-subject">
      <span class="laptop-text016"><span>Subject</span></span>
    </div>
  </div>
  <div class="laptop-nameinput">
    <div class="laptop-name">
      <span class="laptop-text018"><span>Name</span></span>
    </div>
  </div>
  <button class="laptop-submit-button">
    <span class="laptop-text020"><span>Submit</span></span>
  </button>
  <img
    src="/assets/socialmedia2837-9ug.svg"
    alt="Socialmedia2837"
    class="laptop-socialmedia"
  />
  <div class="laptop-addressinfo">
    <span class="laptop-text022"><span>Address</span></span>
    <span class="laptop-text024">
      <span>123 M2Y1L4 North York ON</span>
    </span>
  </div>
</div>
