.laptop-experiences {
    top: 1355px;
    left: 82px;
    width: 900px;
    height: 605.3571166992188px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
  }