<div class="laptop-experiences">
  <span class="laptop-text052"><span>Work Experiences</span></span>
  <span class="laptop-text054"><span>Web Developer</span></span>
  <span class="laptop-text056">
    <span>Fadedliving Website Redesign</span>
    <br />
    <span>
      Freelance Project
      <br />
      <span>Toronto | March – April 2024</span>
    </span>
    <!-- Properly close the inner span before closing the outer span -->
  
  </span>
  <br />
  <span class="laptop-text062">
    <span>Morphi Art Jewelry Studio.</span>
    <br />
    <span>Beijing, Toronto | 2016 - 2023</span>
  </span>
  <br />
  <span class="laptop-text066">
    <span>Food and Drug Administration</span>
    <br />
    <span>Beijing, China | 2009- 2015</span>
  </span>
  <br />
  <span class="laptop-text070">
    <span>
      Revamped website layout and design for Fadedliving using WordPress,
      enhancing user experience and visual appeal. Created a comprehensive
      booking form and calendar scheduler.
    </span>
  </span>
  <br />
  <span class="laptop-text072"><span>Digital Marketing Manager</span></span>
  <span class="laptop-text074">
    <span>
      Planned the promotional calendar, designed and optimized the website,
      improved SEO rank, managed content and advertising campaigns on Facebook
      Ads. Used Google Analytics to monitor data. Cooperated with the local
      craft council and individual clients. Organized workshops, participated
      in exhibitions and art bazaars.
    </span>
  </span>
  <br />
  <span class="laptop-text076">
    <span>Data Analyst</span>
  </span>
  <span class="laptop-text078">
    <span>
      Engaged in e-commerce research, collected and analyzed data,
      evaluated and wrote industry reports. Cooperated with various
      departments to write the reports.
    </span>
    <br />
    <span>
      The major achievements include simplifying the small business registration
      process and simplifying the registration process.
    </span>
  </span>
</div>
