
<div class="laptop-aboutme">
  <img
    src="/assets/rectangle152830-m3xg-400h.png"
    alt="Rectangle152830"
    class="laptop-rectangle152"
  />
  <span class="laptop-text084"> About me  </span>
  <span class="laptop-text086"><span>Basic Info</span></span>
  <div class="laptop-basic-info">
    <div class="laptop-table">
      <div class="laptop-age">
        <div class="laptop-age1">
          <div class="laptop-content">
            <span class="laptop-text088"><span>Age</span></span>
          </div>
        </div>
        <div class="laptop-cell">
          <div class="laptop-content01">
            <span class="laptop-text090"></span>
          </div>
        </div>
      </div>
      <div class="laptop-email1">
        <div class="laptop-email2">
          <div class="laptop-content02">
            <span class="laptop-text091"><span>Email</span></span>
          </div>
        </div>
        <div class="laptop-cell1">
          <div class="laptop-content03">
            <span class="laptop-text093"></span>
          </div>
        </div>
      </div>
      <div class="laptop-phone">
        <div class="laptop-cell2">
          <div class="laptop-content04">
            <span class="laptop-text094"><span>Phone</span></span>
          </div>
        </div>
        <div class="laptop-cell3">
          <div class="laptop-content05">
            <span class="laptop-text096"></span>
          </div>
        </div>
      </div>
      <div class="laptop-address">
        <div class="laptop-cell4">
          <div class="laptop-content06">
            <span class="laptop-text097"><span>address</span></span>
          </div>
        </div>
        <div class="laptop-cell5">
          <div class="laptop-content07">
            <span class="laptop-text099"></span>
          </div>
        </div>
      </div>
      <div class="laptop-lan">
        <div class="laptop-cell6">
          <div class="laptop-content08">
            <span class="laptop-text100"><span>Language</span></span>
          </div>
        </div>
        <div class="laptop-cell7">
          <div class="laptop-content09">
            <span class="laptop-text102"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="laptop-text103">
    <span class="laptop-text104">
      Software Development 
    </span>
    
  <div class="aboutMe">
    <!--summary about me-->
    <p class="aboutMeText">
      {{aboutme.summary}}
    </p>
  </div>
    <br />
    <span class="laptop-text107"></span>
    <span>Learn More</span>
  </span>
</div>