
<div class="laptop-header">
  <img class="laptop-bg" [src]="profile_bg" alt="bg2826">
  <div class="laptop-profile">
    <img
      src="/assets/ellipse12826-po3l-400h.png"
      alt="Ellipse12826"
      class="laptop-ellipse1"
    />
    <img
      src="/assets/ellipse22826-try8-400h.png"
      alt="Ellipse22826"
      class="laptop-ellipse2"
    />
  </div>

</div>
<button class="laptop-hire-me-button">
  <span class="laptop-text109"><span>Hire Me</span></span>
</button>
<button class="laptop-download-cv-button">
  <span class="laptop-text111"><span>Download CV</span></span>
</button>
<div class="laptop-nameandjobtitle">
  <div class="laptop-name1">
    <span class="laptop-text113"><span>Luna Sun</span></span>
    <span class="laptop-text115"><span>Front-end Developer</span></span>
  </div>
</div>

<img
src="/assets/socialmedia2826-bld.svg"
alt="Socialmedia2826"
class="laptop-socialmedia1"
/>
<img
  src="/assets/socialmedia2837-9ug.svg"
  alt="Socialmedia2837"
  class="laptop-socialmedia"
/>
<img
src="/assets/socialmedia2837-9ug.svg"
alt="Socialmedia2837"
class="laptop-socialmedia"
/>