
.laptop-header {
  max-width: 75%;
  display: flexbox;
  margin: 70px auto;
}

.laptop-header, .laptop-profile, .laptop-nameandjobtitle {
  display: flex;
  text-align: center; 
  justify-content: center;  /* 水平居中 */
  align-items: center;      /* 垂直居中 */
  position: relative; /* 确保可以使用 z-index */
}
.laptop-nameandjobtitle {
  display: flex;
  flex-direction: column; /* 确保子元素垂直排列 */
}

.background-image {
  position: absolute;
  z-index: 1; /* 较低的 z-index，位于底层 */
}

.foreground-image {
  position: absolute;
  z-index: 2; /* 较高的 z-index，位于顶层 */
}

.laptop-socialmedia1 {
  top: 398.375px;
  left: 791.875px;
  width: 191px;
  height: 74px;
  position: absolute;
}

.laptop-hire-me-button {
  gap: 20px;
  top: 493px;
  left: 85.5px;
  width: 126px;
  height: 44px;
  display: flex;
  padding: 20px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(240, 53, 53, 1);
  white-space: nowrap;
}
.laptop-download-cv-button {
  gap: 20px;
  top: 493px;
  left: 800px;
  width: 180px;
  height: 44px;
  display: flex;
  padding: 20px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(240, 53, 53, 1);
  white-space: nowrap;
}

.laptop-profile {
  top: 220px;
  left: 342px;
  width: 398.7679443359375px;
  height: 398.7679443359375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  white-space: nowrap;
}
.laptop-ellipse1 {
  top: 0px;
  left: 0px;
  width: 399px;
  height: 399px;
  position: absolute;
}
.laptop-ellipse2 {
  top: 20.9877872467041px;
  left: 20.9877872467041px;
  width: 359px;
  height: 359px;
  position: absolute;
}

.laptop-nameandjobtitle {
  top: 633px;
  left: 356px;
  width: 316px;
  height: 88px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  white-space: nowrap;
}
